.wrapper {
  background-color: #0c41b430;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: -5px -2px 45px 18px rgba(0, 0, 0, 0.16);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__image {
  border-radius: 5px;
  opacity: 0.7;
  height: 100px;
  width: 100px;
}

.bx-shield-plus {
  font-size: 70px;
  color: #1366d6;
}

.header__button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #1366d6;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  overflow: hidden;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.header__button:hover {
  background-color: #0c53b0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.header__button:hover:after {
  opacity: 0.5;
}

.header__button:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.header__button:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .header__button {
    padding: 14px 22px;
    width: 176px;
  }
}

/* .header__button--visit {
  height: 50px;
  width: 200px;
  color: black;
  font-size: 20px;
  display: none;
} */

.header__button--visit {
  background-color: #1366d6;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(6, 51, 129, 0.5) 0 -1px 3px 0 inset,
    rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  display: none;
}

.header__button--visit:hover {
  background-color: #0c53b0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .header__button--visit {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid 0c53b050;
  background-color: #0c53b050;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  gap: 10px;
  color: #fff;
}
.login__form input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #0064bd;
  height: 40px;
  width: 250px;
  font-size: 12px;
  padding-left: 10px;
}
.login__form input:focus {
  transition: 0.2s ease-in;
  font-size: 16px;
}

.login__header {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.login__buttons {
  display: flex;
  gap: 5px;
}

.header__button--visit {
  height: 50px;
  width: 200px;
  color: #fff;
  font-size: 20px;
  /* display: none; */
}

.field-card {
  margin-top: 30px;
  border: 1px rgba(0, 0, 0, 0.045) solid;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.no--items {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.login__send {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.login__send:hover,
.login__send:focus {
  background-color: #07c;
}

.login__send:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.login__send:active {
  background-color: #0064bd;
  box-shadow: none;
}

.login__close {
  background-color: #0c6aad;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.login__close:hover,
.login__close:focus {
  background-color: #07c;
}

.login__close:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.login__close:active {
  background-color: #0064bd;
  box-shadow: none;
}

.modal-form {
  flex-direction: column;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border: none;
  background-color: #09dfeece;
  border-radius: 10px;
  box-shadow: -5px -2px 45px 18px rgba(0, 0, 0, 0.16);
}

.list-doctor__select {
  width: 150px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #0064bd;
  font-family: "Signika Negative";
  padding-left: 10px;
  font-weight: 800px;
}

.modal-form__main-data,
.modal-form__doctor {
  border: 1px solid #111;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;  
  border: 1px solid #0064bd;
  border-radius: 6px;

}

.modal-form__doctor {
  margin-top: 0;
}


.modal-form__btnClose {
  background-color: #0c6aad;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.modal-form__button-submit {
  background-color: #61b61c;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.name__label,
.purpose__label,
.description__label,
.urgency__label ,
.doctor__label{
  align-items: baseline;
  font-weight: 800;
  color: #0c53b0;
  font-size: 20px;
}
.name__label input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #0064bd;
  margin-left: 73px;
  color: rgba(17, 17, 17, 0.478);
  font-size: 18px;
}

.purpose__label input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #0064bd;
  margin-left: 30px;
  color: rgba(17, 17, 17, 0.478);
  font-size: 18px;
}
.description__textarea textarea {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #0064bd;
  margin-left: 30px;
  color: rgba(17, 17, 17, 0.478);
  font-size: 18px;
}

textarea {
  resize: none;
}

.start-page {
  display: flex;
  justify-content: center;
  font-size: 26px;
}

.filterForm {
  display: flex;
  justify-content: center;
}

.filterForm__input {
  width: 500px;
  height: 20px;
}

.hidden {
  display: none !important;
}

.field-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.card {
  position: relative;
  border: 1px solid 0c53b050;
  background-color: #0c53b050;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}

.card__title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
}
.card__name,
.card__purpose,
.card__description,
.card__urgency,
.card__last-visit {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
}

.card__purpose {
  margin-top: 10px;
}

.card__name-value,
.card__purpose-value,
.card__urgency-value,
.card__last-visit-value,
.card__description-value {
  font-weight: 800;
  margin-left: 10px;
  color: #0c53b0;
}
.card__doctor {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 800;
}
.card__doctor-value {
  font-weight: 400;
  margin-left: 10px;
  font-weight: 800;
  color: #0c53b0;
}

.filterForm {
  margin-bottom: 10px;
}

.card__button-del {
  position: absolute;
  top: 8px;
  right: 8px;
}

.card__button-update {
  background: #00000079;
  border: 1px solid #00000079;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 30px;
  outline: 0;
  margin-top: 10px;
  /* padding: 12px 14px; */
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.card__button-update:hover,
.card__button-update:active {
  background-color: initial;
  background-position: 0 0;
  color: #00000079;
}

.card__button-update:active {
  opacity: 0.5;
}

.card__button-more {
  background: #0064bd;
  border: 1px solid #0064bd;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 30px;
  outline: 0;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.card__button-more:hover,
.card__button-more:active {
  background-color: initial;
  background-position: 0 0;
  color: #0095ff;
}

.card__button-more:active {
  opacity: 0.5;
}

.card__button-hide {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-top: 10px;
}

.card__button-hide:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.card__button-hide:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.card__button-hide:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.name__input,
.purpose__input,
.description__input ,
.pressure__input,
.mass__input,
.diseases__input,
.age__input{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #0064bd;
  margin-left: 30px;
  color: rgba(17, 17, 17, 0.478);
  font-size: 18px;
  margin-bottom: 5px;
}

.card__button-submit-up,
.card__button-cancel {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  margin-top: 10px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card__button-cancel{
  background-color: #aa2a13;
  border: 1px solid #aa2a13;
}

.card__button-submit-up:hover,
.card__button-cancel:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.filterForm__input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #0064bd;
  margin-left: 30px;
  color: rgba(17, 17, 17, 0.478);
  font-size: 18px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.bx-search {
  font-size: 20px;
  color: rgba(17, 17, 17, 0.478);
}

.wrapper-form{
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3;
  inset: 0px;
}